.add-uni-modal {
	width: 60%;
	height: 60%;
	min-width: 700px;
	max-width: 900px;
	max-height: 1100px;

	.info-col {
		justify-content: flex-start;
		padding: 20px;
		width: 40%;
		border-right: 1px solid white;
		.add-image {
			width: 100%;
		}
		.add-info {
			color: white;
			a {
				font-weight: bold;
				color: var(--main_magenta);

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.form-col {
		padding: 20px;
		width: 60%;

		.add-uni-form {
			.title-text {
				color: var(--main_magenta);
				text-align: center;
			}
			.modal-input {
				margin-top: 10px;
				padding: 10px;

				&:focus {
					outline: none;
				}
			}
			.add-image-div {
				.add-image-row {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin: 10px 0px;
					align-items: center;
				}
				color: white;
				margin: 10px 10px;
			}
			
			.add-button {
				margin: 0;
				width: 30%;
				margin: 30px 0;
				align-self: center;
			}
		}

		
	}
}