
.unilist-logo {
	list-style: none;
	align-self: center;
	margin-right: 15px;
	img { height: 40px };

	&:hover {
		cursor: pointer;
	}
}

.nav-link {
	color: white;
	list-style: none;
	margin: 0 10px;
	justify-self: center;
	align-self: center;
	padding: 10px;
	transition: 50ms all ease-in-out;

	&:hover {
		cursor: pointer;
		color: rgb(161, 34, 98);
	}
}
