* {
	font-family: "Open Sans", sans-serif;
}

.searcharea-section {

}

.search-area-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	background-color: var(--main_gray);

	.search-filters {
		height: 100%;
		width: 20%;
		min-width: 320px;
		padding: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: rgb(40, 40, 40);

		.filters-title {
			color: white;

			.title-text {
				margin-bottom: 16px;
				font-size: 13pt;
				font-weight: bold;
			}
			.desc-text {
				font-size: 11pt;
				// font-weight: bold;
				padding: 10px;
			}
		}

		.filter-section {
			width: 100%;
			.filter-title {
				color: white;
				margin: 15px 0px 0 10px;
				justify-self: flex-start;
			}
			.filter-options {
				flex-wrap: wrap;
				// border: 1px solid white;
				padding: 6px;
				.filter-button {
					text-align: center;
					margin: 1px;
					width: 20%;
					flex-grow: 1;
					font-size: 11pt;
					padding: 5px 5px;
					background-color: rgb(30, 30, 30);
					color: white;
					transition: 100ms all ease-in-out;

					&:hover {
						cursor: pointer;
						background-color: rgb(184, 27, 79);
					}
				}

				.active {
					background: linear-gradient(-5deg, #BA3E3F, rgba(235, 69, 110, 1));
				}

				.location-button {
					padding: 4px;
				}
			}
		}
	}

	.search-results-container {
		height: 100%;
		width: 65%;
		align-items: center;
		padding: 0 20px;
		
		.search-results-nav {
			width: 100%;
			height: 60px;
			align-items: center;
			justify-content: flex-start;
		}

		.search-results-items {
			width: 100%;
			flex-wrap: wrap;
			justify-content: flex-start;
			.search-results-item {
				width: 320px;
				height: 180px;
				color: black;
				margin: 10px 5px;
				background: #222;
				border-radius: 5px;
				text-align: center;
				font-size: 12pt;
				color: white;
				position: relative;

				.thumbnail-image {
					position: absolute;
					border-radius: 6px;
					top: 0;
					left: 0;
					margin: 0;
					padding: 0;
					width: 100%;
					height: 100%;
				}

				.university-title {
					position: relative;
					font-weight: bold;
					width: auto;
					top: 40%;
				}

				.overall-rating {
					position: relative;
					width: auto;
					top: 42%;
					img {
						width: 20px;
						margin: 0 5px;
					}
					span {
						margin: 0 5px;
					}
				}
			}
		}
	}

	.sidebar-container {
		height: 100%;
		width: 15%;
	}
}